.awards-recognitions-container {
    padding: 80px 0 160px;
    background: rgba(224, 224, 224, 0.3);
}
.awards-recognitions-container.pb-0 { padding: 80px 0 80px; }
.awards-recognitions-wrapper {
    max-width: 100%;
    padding-left: 90px;
    padding-right: 90px;
}

/* Grid */
.awards-grid {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* Card */
.award-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 100%;
}
.award-card-body {
    background: var(--white);
    color: var(--charcoal);
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: var(--fs-medium);
    flex-grow: 1;
}
/* Image */
.award-media {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--white);
}

.award-media picture,
.award-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Text */
.award-card h3 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 8px;
    color: var(--black);
}

.award-desc {
    font-size: var(--fs-medium);
    line-height: 1.5;
    color: var(--charcoal);
}
.award-desc p {
    margin-bottom: 0;
}

.alignment-center .button-container {
    margin: 2rem 0 0;
    text-align: center;
}
.awards-swiper .swiper-slide {
    min-height: 100%;
    height: auto;
}
.awards-swiper .swiper-slide > div {
    height: 100%;
}
/* Responsive */
@media (max-width: 1024px) {
    .awards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .awards-grid {
        grid-template-columns: 1fr;
    }

    .awards-header h2 {
        font-size: var(--fs-xxlarge);
    }
}
