.global-airport-network-container{background-color:var(--royal-blue);color:var(--white);padding:0}
.global-airport-network { overflow: hidden; background-color: var(--royal-blue); }
.global-airport-network .sec-desc{font-size:var(--fs-medium);line-height:1.5;color:var(--white)}
.gan-map-wrap{position:relative;width:100%;min-height:300px;overflow:hidden;}
.gan-lottie{width:100%;height:100%}
.gan-locations{display:flex;gap:1rem;flex-wrap:wrap;}
.gan-location{border-radius:12px;padding:8px 16px;color:var(--turquoise);position:relative;flex:0 0 calc(50% - 16px);max-width:calc(50% - 16px);background:url("../../img/mpattern.svg") no-repeat center var(--white);background-size:85px;min-height:85px;background-position:bottom right}
.gan-flag{position:absolute;bottom:16px;right:16px}
.gan-airport,.gan-country{margin-bottom:0}
.gan-airport{font-weight:500;font-size:12px;margin-bottom:4px}
.gan-country{font-weight:600;font-size:12px;color:var(--yellow)}
.gan-map-image, .global-airport-network-container.lottie-animation-container .lottie-animation-wrapper { display:none;}
@media (min-width:768px){
.gan-lottie{display:block;text-align:center}
.gan-locations{display:none}
}
@media (max-width:767px){
.gan-lottie{display:none}
.gan-locations{display:flex; position: relative; z-index: 2;}
.gan-map-image { display:block; position: absolute; z-index:1;}
.gan-wrapper.spacer .col-lg-4.col-md-5 { text-align: center;}
.gan-wrapper.spacer .col-lg-4.col-md-5 .sec-title.mb-4 { margin-bottom: 1rem!important;}
.gan-locations { padding: 6rem 0 0 0; }
.gan-map-wrap { padding-top: 1rem; }
}