/* BLOCK ROOT — MANDATORY */
.our-approach {
  padding: 80px 0;
  background:var( --lgrey);
}

/* WRAPPER */
.our-approach .our-approach-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* CONTENT GRID */
.our-approach .our-approach-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 80px;
}

/* LEFT COLUMN */
.our-approach .our-approach-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.our-approach-heading P{
  color: var(--black);
  font-weight: 400;
  font-size: 48px;
}

.our-approach-title P{
  color: var(--blue);
  font-weight: 400;
  font-size: 32px;
}

/* RIGHT COLUMN */
.our-approach .our-approach-right {
  font-size: 18px;
  /* line-height: 1.7; */
  color: #444;
}

/* IMAGE BELOW */
.our-approach .our-approach-image img {
  width: 930px;
  height: 650px;
  display: block;
  border-radius: 14px;
  margin-left: 145px;
}

/* MOBILE */
@media (max-width: 768px) {
  .our-approach .our-approach-content {
    grid-template-columns: 1fr;
  }
}
